<!DOCTTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Great Number Game</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='my_style_sheet.css') }}">
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-4 text-center">Welcome to the Great Number Game!</h1>
            <p class="lead text-center">I am thinking of a number between 1 and 100</p>
            <p class="lead text-center">Take a guess!</p>
            <hr class="my-4">
                {% if guessNum > randNum %}
                    <div class="incorrect w-25 h-25"> 
                        <p></p>
                        <h1 class="">Too High!</h1>
                    </div>
                {% elif randNum > guessNum and guessNum > 0 %}
                    <div class="incorrect w-25 h-25 d"> 
                        <h1 class="align-middle">Too Low!</h1>
                    </div>
                {% endif %}                
            {% if guessNum == randNum %}
                <div class="correct w-25 h-25">
                    <h1 class="align-middle">{{ guessNum }} was the number!</h1>
                    <form action='/play_again' method='post'> 
                        <input class="btn btn-primary btn-sm btn-light" type="submit" value="Play Again?">
                    </form>
                </div>
            {% endif %}
            {% if guessNum != randNum %}
                <div class="text-center">
                    <form action='/guess' method='post'>
                        <input type="text" id="guess" class="form_field" placeholder="Guess the #" name="guess">
                        <input class="btn btn-primary btn-sm btn-success" type="submit" value="Submit">
                    </form>
                </div>
            {% endif %}
        </div>
</body>
</html>